.form {
	margin-top: 1rem;
	font-size: 1rem;
}

.form_group {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-bottom: 1rem;
}

.form_group label {
	font-weight: 600;
	padding-bottom: 5px;
}

.form_group input[type='text'],
.form_group select {
	padding: 5px;
	border: none;
	outline: 1px solid #444;
}

.form_group input[type='text']:focus {
	background: #e5e5e5;
}
